In [4]:
! sudo pip install pandas

sudo: unable to resolve host sea-bas-lentil
The directory '/home/sebastien/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
The directory '/home/sebastien/.cache/pip' or its parent directory is not owned by the current user and caching wheels has been disabled. check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
Collecting pandas
  Downloading pandas-0.21.0-cp27-cp27mu-manylinux1_x86_64.whl (24.3MB)
    100% |████████████████████████████████| 24.3MB 68kB/s eta 0:00:011
Collecting pytz>=2011k (from pandas)
  Downloading pytz-2017.3-py2.py3-none-any.whl (511kB)
    100% |████████████████████████████████| 512kB 2.2MB/s eta 0:00:01
Collecting numpy>=1.9.0 (from pandas)
  Downloading numpy-1.13.3-cp27-cp27mu-manylinux1_x86_64.whl (16.6MB)
    100% |████████████████████████████████| 16.7MB 95kB/s  eta 0:00:01
Requirement already satisfied: python-dateutil in /usr/local/lib/python2.7/dist-packages (from pandas)
Requirement already satisfied: six>=1.5 in /usr/lib/python2.7/dist-packages (from python-dateutil->pandas)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.13.3 pandas-0.21.0 pytz-2017.3

In [16]:
cd git_repos/home/death-of-a-charcter

/home/sebastien/git_repos/home/death-of-a-charcter

In [5]:
import pandas as pd
import numpy as np

In [26]:
data_path = 'data/{}'

deaths_data = data_path.format('death_list.txt')
corpus_data = data_path.format('movie_lines.txt')

In [24]:
pd.read_csv(deaths_data)

  film_id                                    dead_characters
0    m148                                MARGE,TINA,ROD,GLEN
1    m507           CASEY,MR. PRESCOTT,TATUM,KENNY,STU,BILLY
2    m213  GARRY,PALMER,DR. COPPER,NORRIS,CLARK,BENNINGS,...
3     m87                  FRANK,PRUDHOE,1ST MAN,LARRY,JULIA
4    m421  JONES,WILLIE,COBB,DOC,DEJESUS,BOWMAN,SIXPACK,W...
5    m158                            LOUIS,JUD,RACHEL,PASCOW
6    m470                            DREW,GUS,MARJORIE,RENEE
7    m379                             ANNIE,LYNDA,BOB,SISTER
8    m514                                JACK,HALLORAN,GRADY
9     m17              DAVID,ALEX,JACK,LT. VILLIERS,BRINGSLY

In [34]:
header_columns = ['lineID', 'characterID', 'movieID', 'character name', 'TextOfTheUtterance']

corpus = pd.read_csv(
    corpus_data, 
    engine='python', 
    sep=' \+{3}\$\+{3} ', 
    header=None,
    names=header_columns
)

In [36]:
corpus.head()

  lineID characterID movieID character name TextOfTheUtterance
0  L1045          u0      m0         BIANCA       They do not!
1  L1044          u2      m0        CAMERON        They do to!
2   L985          u0      m0         BIANCA         I hope so.
3   L984          u2      m0        CAMERON          She okay?
4   L925          u0      m0         BIANCA          Let's go.